<p>Detalles del libro</p>
<table class="table">
    <tbody>
        <tr>
            <td>id</td>
            <td>{{ data.id }}</td>
        </tr>
        <tr>
            <td>autor</td>
            <td>{{ data.autor }}</td>
        </tr>
        <tr>
            <td>titulo</td>
            <td>{{ data.title }}</td>
        </tr>
        <tr>
            <td>descripción</td>
            <td>{{ data.description }}</td>
        </tr>
    </tbody>
</table>
<button (click)="onVolver()">Volver</button>