<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a [routerLink]="'home'" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a  [routerLink]="'tareas'" routerLinkActive="active" class="nav-link">Tareas</a>
    </li>
    <li class="nav-item">
        <a  [routerLink]="'cursos'" routerLinkActive="active" class="nav-link">Cursos</a>
    </li>
    <li class="nav-item">
        <a  [routerLink]="'usuarios'" routerLinkActive="active" class="nav-link">Usuarios</a>
    </li>
    <li class="nav-item">
        <a  [routerLink]="'catalogo'" routerLinkActive="active" class="nav-link">Catalogo</a>
    </li>
    <li class="nav-item">
        <a  [routerLink]="'libros'" routerLinkActive="active" class="nav-link">Libros</a>
    </li>
</ul>
